body {
    margin:0;
    padding:0;
    min-width: 1440px;
    font-family: DM Sans, sans-serif;
    font-size: 15px;
    font-weight:700;
}
.container{
    width:1440px;
    margin: 0 auto;
    padding:0 185px;
    box-sizing:border-box;
}
.page-header{
    display:flex;
    margin-top:40px;
    justify-content: space-between;
}
.navigation {
    display:flex;
    flex:1;
    justify-content: space-evenly;
    list-style:none;
    padding-left:0;
}
.nav,
.more{
    text-decoration: none;
}
.more:hover{
    font-weight: bold;
    filter: drop-shadow(0 0 5px #5454D4);
}
.navigation .navig .nav{
    color: #696871;
    transition-duration:0.6s;
}
.navigation .navig .nav:hover{
    font-size:20px;
    font-weight: bold;
    filter: drop-shadow(0 0 10px grey)
}
.navigation .navig .nav:active{
    color: #19191B;
}

.btn-started{
    width:211px;
    height:60px;
    border:none;
    border-radius: 10px;
    background-color: #FF7143;
    font-size:17px;
    color:#ffffff;
    cursor: pointer;
    transition-duration: 0.6s;
}
.btn-started:hover{
    font-size:20px;
    box-shadow:  0 0 10px  #FF7143;
    font-weight: bold;
}
.btn-started:active{
    background-color: #FFFFFF;
    color: #FF7143;
}
.violet{
    background-color:#5454D4;
}
.violet:hover{
    box-shadow:  0 0 10px  #5454D4;
}
.violet:active{
    background-color: #FFFFFF;
    color: #5454D4;
}
.hero{
    display:flex;
    margin-top:100px;
}
h1{
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    font-size:80px;
    line-height:77px;
    width:462px;
    padding:0;
    letter-spacing: -2.5px;
}
.arrow{
    padding: 18.75px 19.5px 18.75px 19.5px;
    margin-left:40px;
    border: 1px solid #E7E7E7;
    border-radius: 50%;
    box-sizing: border-box;
    vertical-align: middle;
}
.hero-image{
    width:580px;
    height: 644px;
}
.logotips{
    display:flex;
    justify-content: space-between;
    margin-top:100px;
    margin-bottom: 150px;
}
.subscriptions{
    display:flex;
    align-items: center;
}
.subscription-image{
    width:350px;
    margin-right: 165px;
}
 h2{
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
}
 .simple {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
}
.metrics {
    display:flex;
    align-items: center;
    margin-top:80px;
    margin-bottom:150px;
}
.metrics-image{
    margin-left:220px;
}
.cards{
    display:flex;
    justify-content: space-between;
    vertical-align: center;

}
.card-item{
    text-align: center;
}
h3{
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.750316px;
}
.tarif{
    margin-top:150px;
    margin-bottom: 100px;
}
.tarif-header{
    display:flex;
    justify-content: space-between;
}
.tarif-title h1{
    font-family: DM Sans, sans-serif;
    width:523px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
}
.plans{
    display:flex;
    flex-wrap:wrap;
}
.select-plan{
    align-self:center;
}
.choice{
    width:160px;
    height:55px;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #19191B;
    border:none;
    border-radius:0;
    cursor: pointer;
    transition-duration: 0.6s;
}
.choice:hover{
    box-shadow:  0 0 10px  #5454D4;
    font-size:20px;
    background-color: #5454D4;
    color: #FFFFFF;
}
.choice:active{
    background-color: #FFFFFF;
    color:#5454D4;
}
.choice:first-child{
    border-radius: 10px 0 0 10px;
}
.choice:last-child{
    border-radius: 0 10px 10px 0;
    margin-left: -5px;
}
.plans{
    display:flex;
    margin-top:95px;
}
.plan-item:first-child{
    margin-left:0;
}
.plan-text h3{
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
    padding:0;
    margin: 0;
    margin-bottom:28px;

}

.plan-text h3 .min{
    font-size:28px;
}
.plan-text .simple:last-child{
    font-family: Mulish,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -0.531474px;
    color: #696871;
    margin:0;
    padding:0;
}
.plan-item{
    width: 330px;
    height: 441px;
    text-align:center;
    background-color:#F8F8F8;
    border-radius:10px;
    margin-left:25px;
    transition-duration: 0.6s;
}
.plan-item:hover{
    width:350px;
    height :461px;
    color:white;
    background-color: #FF7143;
}
.plan-item:hover .simple,
.plan-item:hover h3{
    color:white;
}
.plan-item:hover .btn-plan{
    background-color: #9F3919;
    color:white;
}
.btn-plan{
    width:285px;
    height:60px;
    margin-bottom:27px;
    background-color:#FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #5454D4;
    cursor: pointer;
    transition-duration:0.6s;
}
.btn-plan:hover{
    box-shadow: 0 0 10px  black;
    font-size:21px;
}
.plan-item .btn-plan:active{
    background-color:white;
    color:#9F3919;
}