body {
    margin:0;
    padding:0;
    min-width: 1440px;
    font-family: DM Sans, sans-serif;
    font-size: 15px;
    font-weight:700;
}
.container{
    width:1440px;
    margin: 0 auto;
    padding:0 185px;
    box-sizing:border-box;
}
.page_header{
    display:flex;
    margin-top:40px;
    justify-content: space-between;
}
.page_header_navigation {
    display:flex;
    flex:1;
    justify-content: space-evenly;
    list-style:none;
    padding-left:0;
}
.nav,
.more{
    text-decoration: none;
}
.more:hover{
    font-weight: bold;
    filter: drop-shadow(0 0 5px #5454D4);
}
.nav{
    color: #696871;
    transition-duration:0.6s;

}
.nav:hover{
    font-size:20px;
    font-weight: bold;
    filter: drop-shadow(0 0 10px grey);
    transition: border 1ms;
    border-bottom: 4px solid #696871;
}
.nav:active{
    color: #FF7143;
    filter: drop-shadow(0 0 10px #FF7143);
    border-bottom: 3px solid #FF7143;
}

.btn_started{
    width:211px;
    height:60px;
    border:none;
    border-radius: 10px;
    background-color: #FF7143;
    font-size:17px;
    color:#ffffff;
    cursor: pointer;
    transition-duration: 0.6s;
}
.btn_started:hover{
    font-size:20px;
    box-shadow:  0 0 10px  #FF7143;
    font-weight: bold;
}
.btn_started:active{
    background-color: #FFFFFF;
    color: #FF7143;
}
.violet{
    background-color:#5454D4;
}
.violet:hover{
    box-shadow:  0 0 10px  #5454D4;
}
.violet:active{
    background-color: #FFFFFF;
    color: #5454D4;
}
.hero{
    display:flex;
    margin-top:100px;
}
h1{
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    font-size:80px;
    line-height:77px;
    width:462px;
    padding:0;
    letter-spacing: -2.5px;
}
.hero_image_arrow{
    padding: 18.75px 19.5px 18.75px 19.5px;
    margin-left:40px;
    border: 1px solid #E7E7E7;
    border-radius: 50%;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    transition-duration: 0.6s;
}
.hero_image_arrow:hover{
    box-shadow:  0 0 10px  black;
}
.hero_image{
    width:580px;
    height: 644px;
}
.logos{
    display:flex;
    justify-content: space-between;
    margin-top:100px;
    margin-bottom: 150px;
}
.subscriptions{
    display:flex;
    align-items: center;
}
.subscription_image{
    width:350px;
    margin-right: 165px;
}
 h2{
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
}
 .simple {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
}
.metrics {
    display:flex;
    align-items: center;
    margin-top:80px;
    margin-bottom:150px;
}
.metrics_image{
    margin-left:220px;
}
.cards{
    display:flex;
    justify-content: space-between;
    vertical-align: center;

}
.cards_item{
    text-align: center;
}
h3{
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.750316px;
}
.tariff{
    margin-top:150px;
    margin-bottom: 100px;
}
.tariff_heading{
    display:flex;
    justify-content: space-between;
}
 h1{
    font-family: DM Sans, sans-serif;
    width:523px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
}
.tariff_select_plan{
    align-self:center;
}
.btn_choice{
    width:160px;
    height:55px;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #19191B;
    border:none;
    border-radius:0;
    cursor: pointer;
    transition-duration: 0.6s;
}
.btn_choice:hover{
    box-shadow:  0 0 10px  #5454D4;
    font-size:20px;
    background-color: #5454D4;
    color:#FFFFFF;
    transform: translateY(2px);
}
.btn_choice:active{
    background-color: #FFFFFF;
    color:#5454D4;
}
.activated{
    box-shadow:  0 0 10px  #5454D4;
    font-size:20px;
    background-color: #5454D4;
    color: #FFFFFF;
    transform: translateY(2px);
}
.btn_choice_one{
    border-radius: 10px 0 0 10px;
}
.btn_choice_two{
    border-radius: 0 10px 10px 0;
    margin-left: -5px;
}
.plans{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top:95px;
}
.price{
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    padding:0;
    margin: 0 0 28px 0;
}
.price .min{
    font-size:28px;
}
.plan_text .simple:last-child{
    font-family: Mulish,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -0.531474px;
    margin:0;
    padding:0;
}
.plan_item {
    height: 441px;
    width:330px;
    text-align: center;
    background-color: #F8F8F8;
    border-radius: 10px;
    transition-duration: 0.6s;
    cursor: pointer;
}
.plan_item:first-child{
    margin-left:0;
}
.plan_item:hover{
    width:350px;
    height :461px;
    color:white;
    background-color: #FF7143;
    transform:translateY(-10px);
}
.plan_item:hover .simple,
.plan_item:hover h3{
    color:white;
}
.plan_item:hover .btn_plan{
    background-color: #9F3919;
    color:white;
}
.btn_plan{
    width:285px;
    height:60px;
    margin-top:40px;
    background-color:#FFFFFF;
    border-radius: 10px;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    border:none;
    color: #5454D4;
    cursor: pointer;
    transition-duration:0.6s;
}
.btn_plan:hover{
    box-shadow: 0 0 10px  black;
    font-size:21px;
}
.plan_item .btn_plan:active{
    background-color:white;
    color:#9F3919;
}
.active_plan{
    width:350px;
    height :461px;
    background-color: #FF7143;
    color:white;
    transform:translateY(-10px);
}
.btn_active{
    background-color: #9F3919;
    color:white;
}
